fastapi==0.95.0  # Framework para construir APIs rápidas e eficientes.
uvicorn==0.23.0  # Servidor ASGI para rodar a aplicação FastAPI.
sqlalchemy==1.4.47  # ORM para interagir com o banco de dados de forma fácil e eficiente.
pydantic==1.10.16  # Biblioteca para validação de dados e configurações no FastAPI.
requests==2.31.0  # Biblioteca para fazer requisições HTTP de forma simples.
beautifulsoup4==4.12.0  # Biblioteca para fazer parsing e manipulação de HTML (usada para scraping).
PyJWT==2.6.0  # Biblioteca para gerar e validar tokens JWT (usada para autenticação).
python-multipart==0.0.6  # Necessário para lidar com uploads de arquivos no FastAPI.
passlib[bcrypt]==1.7.4  # Biblioteca para hashing de senhas de forma segura.
pytest==7.4.0  # Framework de testes para facilitar a escrita e execução de testes.
requests-mock==1.11.0  # Biblioteca para simular requisições HTTP em testes.
python-dotenv==0.21.1  # Carrega variáveis de ambiente de um arquivo .env para configuração.
httpx==0.24.0  # Biblioteca para fazer requisições HTTP de forma assíncrona e sincronizada.
