fastapi==0.95.2  # Última versão estável até agora
uvicorn==0.23.0  # Última versão estável
sqlalchemy==1.4.47  # Atualização para correções e melhorias
pydantic==1.10.5  # Última versão estável com correções
requests==2.31.0  # Versão mais recente
beautifulsoup4==4.12.0  # Última versão com melhorias
PyJWT==2.6.0  # Atualização com correções de segurança
python-multipart==0.0.6  # Atualização para correções
passlib[bcrypt]==1.7.4  # Versão estável
pytest==7.4.0  # Última versão estável
requests-mock==1.11.0  # Atualização para compatibilidade
python-dotenv==0.21.1 # Última versão estável

# fastapi==0.95.0: Framework para construir APIs rápidas e eficientes.
# uvicorn==0.22.0: Servidor ASGI para rodar a aplicação FastAPI.
# sqlalchemy==1.4.46: ORM para interagir com o banco de dados.
# pydantic==1.10.2: Utilizado para validação de dados no FastAPI.
# requests==2.28.1: Biblioteca para fazer requisições HTTP (usada para scraping).
# beautifulsoup4==4.11.1: Biblioteca para fazer o parsing de HTML (usada para scraping).
# PyJWT==2.4.0: Biblioteca para gerar e validar tokens JWT (usada para autenticação).
# python-multipart==0.0.5: Necessário para lidar com uploads de arquivos no FastAPI.
# passlib[bcrypt]==1.7.4: Utilizado para hashing de senhas de forma segura.